<header id="masthead">
  <!-- Keeps navigation centered with grid. remove if you want full width of banner -->
  <div class="contain-to-grid">
    <!-- / Main navigation -->
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <%= render 'layouts/npmdigital_admin/partials/header_logo' %>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">

      </li>
        <%= render 'layouts/npmdigital_admin/partials/top_right_menu' %>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-dropdown left-divider right-divider">
            <a href="#"><i class="fi-monitor"></i> Menu</a>
            <ul class="dropdown">
              <%= render 'layouts/partials/nav' %>
            </ul>
        </ul>
      </section>
    </nav>
  </div><!-- / .contain-to-grid -->

</header><!-- / #masthead -->