<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="row collapse">
    <div class="small-1 columns">
      <span class="prefix"><i class="fi-mail"></i></span>
    </div><!--/ small-1 -->
    <div class="small-11 columns">
      <%= f.email_field :email, autofocus: true, placeholder: 'EMAIL' %>
    </div><!--/ small-11 -->
  </div><!-- /row -->


  <div class="row collapse prefix-radius">
    <div class="small-1 columns">
      <span class="prefix"><i class="fi-lock"></i></span>
    </div><!--/ small-1 -->
    <div class="small-11 columns">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "PASSWORD" %>
    </div><!--/ small-11 -->
  </div><!-- /row -->


  <div class="row collapse prefix-radius">
    <div class="small-1 columns">
      <span class="prefix"><i class="fi-lock"></i></span>
    </div><!--/ small-1 -->
    <div class="small-11 columns">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "PASSWORD CONFIRMATION" %>
    </div><!--/ small-11 -->
  </div><!-- /row -->


  <div class="row">
    <div class="medium-12 columns action">
      <%= f.submit "Sign up", class: "button success expand" %>
    </div><!--/ medium-6-->
  </div><!--/ row -->

<% end %>
