<h3>Change your password</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="row collapse prefix-radius">
    <div class="small-1 columns">
      <span class="prefix"><i class="fi-lock"></i></span>
    </div><!--/ small-1 -->
    <div class="small-11 columns">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New password" %>
    </div><!--/ small-11 -->
  </div><!-- /row -->

  <div class="row collapse prefix-radius">
    <div class="small-1 columns">
      <span class="prefix"><i class="fi-lock"></i></span>
    </div><!--/ small-1 -->
    <div class="small-11 columns">
      <% end %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password"  %>
    </div><!--/ small-11 -->
  </div><!-- /row -->

  <div class="row">
    <div class="medium-12 columns action">
      <%= f.submit "Change my password", class: "button success expand" %>
    </div>
  </div>

<% end %>