<h4>Forgot your password?</h4>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row collapse">
    <div class="small-1 columns">
      <span class="prefix"><i class="fi-mail"></i></span>
    </div><!--/ small-1 -->
    <div class="small-11 columns">
      <%= f.email_field :email, autofocus: true %>
    </div><!--/ small-11 -->
  </div><!-- /row -->


  <div class="row">
    <div class="medium-12 columns action">
      <%= f.submit "Send me reset password instructions", class: "button success expand" %>
    </div><!--/ medium-6-->
  </div><!--/ row -->

<% end %>