<% content_for :breadcrumbs do %>
  <li><a href="#">Home</a></li>
  <li><a href="#">Features</a></li>
  <li class="unavailable"><a href="#">Gene Splicing</a></li>
  <li class="current"><a href="#">Cloning</a></li>
<% end %>

<div class="row">
  <div class="medium-12 columns">

    <header>
      <h1>Child Church Name</h1>
    </header>

    <div class="panel">

      <div class="row">
        <div class="medium-12 columns">
          <header class="clearfix">
            <h2 class="left">Information</h2>
            <a class="button small right" href="#">Edit Church Info</a>
          </header>
        </div>
      </div><!--/ row -->

      <div class="row">
        <div class="medium-6 columns">

          <h4>Location</h4>
          <hr />

          <div class="row">
            <div class="medium-12 columns">

              <div class="static-field">
                <strong>Address</strong>
                <p>455 Northpoint Drive</p>
              </div><!--/static field -->

            </div><!-- /medium-12 -->
          </div><!-- / row -->

          <div class="row">
            <div class="medium-8 columns">

              <div class="static-field">
                <strong>City</strong>
                <p>Alpharetta</p>
              </div><!--/static field -->

            </div><!-- /medium-8 -->

            <div class="medium-4 columns">

              <div class="static-field">
                <strong>State</strong>
                <p>GA</p>
              </div><!--/static field -->

            </div><!-- /medium-4 -->

          </div><!-- / row -->

          <div class="row">
            <div class="medium-6 columns">

              <div class="static-field">
                <strong>Zip Code</strong>
                <p>30322</p>
              </div><!--/static field -->

            </div><!-- /medium-6 -->

            <div class="medium-6 columns">

              <div class="static-field">
                <strong>Country</strong>
                <p>US</p>
              </div><!--/static field -->

            </div><!-- /medium-6 -->

          </div><!-- / row -->

        </div><!-- / medium-6 -->

        <div class="medium-3 columns">

          <h4>Additional Info</h4>
          <hr />
          <ul class="naked-list">
            <li class="clearfix"><strong>Website</strong> <br /> <span><a href="#">google.com</a></span></li>
            <li class="clearfix"><strong>Parent Organization</strong> <br /> <span>North Point Community Church</span></li>
            <li class="clearfix"><strong>Campaign end date</strong> <br /> <span>12:00pm 12/1/16</span></li>
          </ul>

        </div><!-- /4 -->

        <div class="medium-3 columns">

          <h4>Campaign Confirmation email</h4>
          <hr />
          <ul class="naked-list">
            <li class="clearfix"><strong>From email</strong> <br /> <span><a href="#">from@table.org</a></span></li>
            <li class="clearfix"><strong>Email Signature</strong> <br /> <span>The Children of intersect Project Team</span></li>
          </ul>

        </div><!-- /4 -->

      </div><!-- /row -->

    </div><!--/ panel -->

  </div><!--/ medium-12 -->
</div><!-- /row -->

<script>
  $(document).ready(function(){
    $('#dataTables-example').DataTable();

    // add table demo
        var i=1;
         $("#add_row").click(function(){
          $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='name"+i+"' type='text' placeholder='Name' class='form-control input-md'  /> </td><td><input  name='mail"+i+"' type='text' placeholder='Mail'  class='form-control input-md'></td>");

          $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
          i++;
      });
       $("#delete_row").click(function(){
         if(i>1){
       $("#addr"+(i-1)).html('');
       i--;
       }
     });


  });
</script>