<ul class="right">
  <li class="has-dropdown">
    <a href="#"><i class="fi-torso"></i> My profile</a>
    <ul class="dropdown">
      <li><a href="#">Edit Profile</a></li>
      <li><a href="#">Workspaces</a></li>
      <li class="divider"></li>
      <li><%= link_to raw('<i class="fi-power"></i> Logout'), destroy_user_session_path, method: :delete %></li>

    </ul>
  </li>
</ul>