<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NPM Admin Theme</title>
  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
  <%= stylesheet_link_tag    "npmdigital_admin/application", media: "all" %>
  <%= javascript_include_tag "npmdigital_admin/application" %>
  <%= csrf_meta_tags %>

  <% ## DO SOMETHING WITH THESE TAGS %>
  <% javascript_include_tag "vendor/modernizr" %>
  <% javascript_include_tag "application", 'data-turbolinks-track' => true %>

</head>