<!doctype html>
<html class="no-js" lang="en">

  <%= render 'layouts/npmdigital_admin/headtag' %>

  <body>

    <%= render 'layouts/npmdigital_admin/topnav/nav' %>

    <div class="row">
      <div class="small-12 columns">
        <%= render 'layouts/npmdigital_admin/page_content' %>
      </div>
    </div>

    <%= render 'layouts/npmdigital_admin/partials/footer' %>

  </body>
</html>
