<!doctype html>
<html class="no-js" lang="en">

  <%= render 'layouts/npmdigital_admin/headtag' %>

  <body>

    <div class="row">
      <div class="small-12 columns">
          <div class="section">
            <div class="row">
              <div class="medium-6 medium-centered columns">

                <div class="panel login">
                  <%= yield %>
                </div>

                <div class="row">
                  <div class="medium-12 columns text-center">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>

              </div><!--/ medium-6 centered -->
            </div><!-- /row -->

          </div><!--/section -->
      </div>
    </div>

    <%= render 'layouts/npmdigital_admin/partials/footer' %>

  </body>
</html>

