<h4>Sign in</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row collapse">
    <div class="small-1 columns">
      <span class="prefix"><i class="fi-mail"></i></span>
    </div><!--/ small-1 -->
    <div class="small-11 columns">
      <%= f.email_field :email, autofocus: true %>
    </div><!--/ small-11 -->
  </div><!-- /row -->


  <div class="row collapse prefix-radius">
    <div class="small-1 columns">
      <span class="prefix"><i class="fi-lock"></i></span>
    </div><!--/ small-1 -->
    <div class="small-11 columns">
      <%= f.password_field :password, autocomplete: "off" %>
    </div><!--/ small-11 -->
  </div><!-- /row -->

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="row">
    <div class="medium-12 columns action">
      <%= f.submit "Log in", class: "button success expand" %>
    </div><!--/ medium-6-->
  </div><!--/ row -->

<% end %>