// Colors
$white:         #ffffff;
$softwhite:     #f9f9f9;
$offwhite:      #f0f0f0;
$lightgrey:     #e0e0e0;
$softgrey:      #6f6f6f;
$grey:          #c4c4c4;
$dark:          #333;
$green:         #3dc48e;
$primary:       #2c9ab7;
$red:           #9e0c0f;
$yellow:        #fcfcd1;

$navbackground: #303030;