<li class="left-divider right-divider"><a href="<%= examples_dashboard_path %>"><i class="fi-wrench"></i> Dashboard</a></li>
<li class="left-divider right-divider"><a href="<%= examples_kitchensink_path %>"><i class="fi-wrench"></i> Kitchen Sink</a></li>
<li class="left-divider right-divider"><a href="<%= examples_bbgrid_path %>"><i class="fi-list-thumbnails"></i> bbGrid</a></li>
<li class="left-divider right-divider"><a href="<%= examples_sidenav_path %>"><i class="fi-layout"></i> Side Nav</a></li>
<li class="left-divider right-divider"><a href="<%= examples_topnav_path %>"><i class="fi-layout"></i> Top Nav</a></li>
<!-- <li><span>Has submenu</span></li>
<li class="divider"></li>
<li role="menuitem"><a href="#"><i class="fi-page"></i> Entries</a>
  <ul>
    <li><a href="#addnew"><i class="fi-plus"></i> add new</a></li>
    <li><a href="#edit"><i class="fi-pencil"></i> edit entries</a></li>
  </ul>
</li> -->