<header id="masthead">
  <!-- Keeps navigation centered with grid. remove if you want full width of banner -->
  <div>
    <!-- / Main navigation -->
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name"><%= render 'layouts/npmdigital_admin/partials/header_logo' %></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">

      <!-- duplicate menu here for mobile view -->
        <ul class="mobile-menu show-for-small-only">
          <li class="name"><h1><a href="#"><%= image_tag "npmdigital_admin/logo-template-24x180.png" %></a></h1></li>
          <%= render 'layouts/partials/nav' %>
        </ul>

        <%= render 'layouts/npmdigital_admin/partials/top_right_menu' %>

      </section>
    </nav>
  </div><!-- / .contain-to-grid -->

</header><!-- / #masthead -->