<aside id="nav-container" class="visible-for-medium-up">
  <ul class="side-nav" role="navigation" title="Link List">
    <li class="name"><%= render 'layouts/npmdigital_admin/partials/header_logo' %></li>
    <%= render 'layouts/partials/nav' %>
  </ul>
</aside>